body {
  font-family: sans-serif;  
  background-color: #101010;
}
h1,h2,h3,p,li,a,ol,ul{
  color: White;
  text-align: center;
  font: "Fira Sans", sans-serif;
  padding: 5px;
}
.divA{
  border-radius: 5px;
  border: 2px solid #FFFFFF;
  background-color: #202020;
  text-align: center;
  transition: 0.5s;
  width: 500px;
}
.divA:hover {
  background-color: #101010;
}
.divAa{
  background-color: #303030;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.divAaA{
  border-radius: 50%;
  background: #ff2424;
  width: 25px;
  height: 25px;
  text-align: center;
}
.divAaA:hover{
  background: #941313;
}
.divAaB{
  border-radius: 50%;
  background: #ffe100;
  width: 25px;
  height: 25px;
  text-align: center;
}
.divAaB:hover{
  background: #948301;
}
.divAaC{
  border-radius: 50%;
  background: #34fa02;
  width: 25px;
  height: 25px;
  text-align: center;
}
.divAaC:hover{
  background: #1b8700;
}
.divAaD{
  width: 425px;
  height: 25px;
  background-color: #303030;
}

