body{
  height: 125vh;  
  margin-top: 80px;  
  padding: 30px;  
  background-size: cover;  
  font-family: sans-serif;  
  background-color: black;
}
h1,h2,h3,p,li,a,ol,ul{
  color: White;
  text-align: center;
  font: "Fira Sans", sans-serif;
  padding: 5px;
}
ul{
  list-style: none;
}
p{
  font-size: 14px;
}
p a{
  font-size: 18px;
}
a{
  text-decoration: none;
}
.gameDiv{
  border-radius: 25px;
  border: 2px solid #FFFFFF;
  background-color: #202020;
  text-align: center;
  transition: 0.5s;
  text-shadow: 0 0 0px #000000;
  width: 500px;
  padding-bottom:10px;
}
.gameDiv:hover {
  background-color: #101010;
  text-shadow: 0 0 1.5px #FFFFFF;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  justify-items: center;
}
.gLB {
  width: 10em;
  position: relative;
  height: 3.5em;
  border: 3px ridge #149CEA;
  outline: none;
  background-color: transparent;
  color: white;
  transition: 0.5s;
  border-radius: 0.3em;
  font-size: 16px;
  cursor: pointer;
  text-shadow: 0 0 0px #000000;
}

.gLB:hover {
  box-shadow: inset 0px 0px 25px #1479EA;
  text-shadow: 0 0 2px #FFFFFF;
  transform: perspective(400px) rotateX(-25deg);
}
.gImg {
  height: 75px;
  width: 100px;
  transition: 0.5s;
  border-radius: 5px;
  object-fit: cover;
}
.gImg:hover{
  transform: perspective(400px) rotateX(45deg);
  border-radius: 15px;
}
.gIcon{
  height: 25px;
  width: auto;
}
@keyframes infrot {
  0% {
    transform: perspective(400px) rotateX(20deg);
  }
  100% {
    transform: perspective(400px) rotateX(-20deg);
  }
}
.infinityimg{
  height: 150px;
  width: auto;
  text-align: center;
  display: block;
  margin: 0 auto;
  animation: infrot 0.5s linear infinite;
}


.sidiv{
  text-align: center;
}
.socialIcon{
  text-decoration: none;
  height: 50px;
  width: auto;
  transition: 0.5s;
}
.socialIcon:hover{
  transform: perspective(400px) rotateX(22.5deg);
}
.pagetitle{
    text-shadow: 0 0 2.5px #FFFFFF;
}
.newsdiv{
  margin: auto;
  border-radius: 25px;
  border: 2px solid #FFFFFF;
  background-color: #202020;
  width: 1000px;
  text-align: center;
}
.newsdate{
  font-size: 12px;
  color: #D3D3D3;
  text-align: left;
}
.fginfo{
  font-size: 12px;
  color: white;
}
.fgdiv{
  border-radius: 25px;
  border: 2px solid #FFFFFF;
  background-color: #151515;
  text-align: center;
  padding-bottom:10px;
}
.newsImg {
  height: 150px;
  width: auto;
  transition: 0.5s;
  border-radius: 5px;
}
.newsImg:hover{
  transform: perspective(400px) rotateX(45deg);
  border-radius: 15px;
}
.fourohfourimg{
  width: 300px;
  height: auto;
  text-align: center;
  display: block;
  margin: 0 auto;
}

